.parallax-window {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fs-60 {
  font-size: 60px;
}

.font-s{
  font-size: 14px;
}

.TransBtn{
  background-color: transparent;
  transition: .3s;
  border: 2px solid gray !important;
}

.TransBtn:hover{
  background-color: black;
  color: lightgray;
}
