.fs-7{
    font-size: 12px;
}

.w-70{
    width: 64%;
}

.nav-link{
    color: white !important;
}

.textColr{
    color: rgb(174, 139, 255) !important;
}

.nav-link:hover{
    color: rgb(198, 140, 253) !important;
}

.dropdown-item, .navbar-brand{
    transition: .89s;
}

.navbar-brand:hover{
    color: white !important;
}